*{
    margin: 0;
    padding: 0;
}
/* Esse é um comentário*/
#titulo{
    font-family: sans-serif;
    color: white;
    margin: center;
}

fieldset {
    border: 0;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
    font-size: 1em;
    color: #e88700;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;

}

.campo label, .check {
    margin-bottom: 0.2em;
    color: white;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;

}

.campo input[type="text"], .campo input[type="tel"], .campo input[type="complemento_endereco"], .campo select, .campo textarea {
    padding: 0.1em;
    border: 1px solid white;
    box-shadow: 1px 1px 1px white;
    display: block;
}

.check label[for="tipo_msg"] {
    padding-right: 1em;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus, .check check:focus {
    background: rgb(0, 0, 0);
}

fieldset.grupo .botao {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    text-shadow: 1px 1px 1px;
    position: absolute;
}